.container .messages {
	margin-top: 20px;
}
.container .messagelist li {
	margin: 15px 0;
	background: #EFF2F0;
	border: 1px solid #e6e6e6;
}
.container .messagelist .title {
	font-size: 16px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.container .messagelist .content {
	padding: 0 15px;
	overflow: hidden;
}
.container .messagelist .informlist {
	position: relative;
	margin-bottom: -1px;
	overflow: hidden;
}
.container .informlist li {
	position: relative;
	float: left;
	margin: 0;
	padding: 15px 0;
	border-width: 0 0 1px;
	border-bottom: 1px dotted #d9d9d9;
}
.container .informlist p {
	margin: 0;
	padding-left: 50px;
	line-height: 20px;
}
.container .informlist time {
	color: #999999;
}
.container .expand {
	position: absolute;
	left: 50%;
	margin: -12px 0 0 -53px;
}
.container .expand a {
	padding: 4px 14px;
	font-size: 12px;
	font-weight: normal;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
.container .expand [class^="icon-"]:before {
	top: 0;
	font-size: 12px;
}