body {
	background-color: #EFF2F0;
}
.red {
	color: #ED0212;
}
.signup {
	margin-top: 100px;
}
.background {
	text-align: center;
}
.background img {
	width: 375px;
}
.tologin {
	width: 339px;
	margin: auto;
}
.tologin a {
	display: inline-block;
	padding: 7px 17px;
	margin-left: 15px;
	font-weight: bold;
	color: #CC0000;
	text-decoration: underline;
	background-color: #ffffff;
	border: 1px solid #D5EFCB;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.signup-form {
	width: 400px;
	margin: auto;
}
.signup-form > div {
	position: relative;
}
.signup-form input {
	height: 38px;
	width: 305px;
	margin: 10px 10px 10px 82px;
}
.signup-form .title {
	float: left;
	width: 85px;
	margin-right: 10px;
	text-align: right;
	line-height: 3;
}
.signup-form i {
	padding-right: 5px;
	font-family: "SimSun";
	color: #CC0000;
}
.signup-form input[type="checkbox"] {
	width: 0;
	height: 0;
	margin: 10px 4px 10px 47px;
}
.signup-form span.right {
	margin-top: 10px;
}
.signup-form span.red {
	position: absolute;
	top: 10px;
	right: -126px;
	width: 120px;
}
.signup-form .submit {
	margin-left: 22px;
}
.signup-form .button {
	margin-left: 73px;
	padding: 7px 80px 8px;
	font-size: 15px;
	-webkit-border-radius: 5px;
	border-radius: 5px
}